.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
  font: #000000;
}

.nav-links li {
  margin: 1rem;
  color: #000000;
}

.nav-links a {
  border: 1px solid transparent;
  color: #000000;
  text-decoration: none;
  padding: 0.5rem;
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
  color: #000000;
  border-bottom: #FF3131;
  border-bottom-style: solid;
}

.nav-links button {
  cursor: pointer;
  border: 1px solid #000000;
  color: #000000;
  background: transparent;
  padding: 0.5rem;
  font: inherit;
}

.nav-links button:focus {
  outline: none;
}

.nav-links button:hover,
.nav-links button:active {
  background: #FF3131;
  color: #000000;
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }

  .nav-links li {
    margin: 0 0.75rem;
  }

  .nav-links a {
    color: #000000;;
    text-decoration: none;
  }

  .nav-links button {
    border: 1px solid white;
    color: white;
    background: transparent;
  }
  
  .nav-links button:hover,
  .nav-links button:active {
    background: rgba(255,0,0,1);
    color: #292929;
  }
}
